<%- include('includes/header') %>
    <body>
        <%- include('includes/navbar') -%>
        <div class="home container">
            <% for(let product of products) { %>
            <div class="card">
                <img class="card-img-top" src="<%= product.image %>" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= product.title %> - $<%= product.price %></h5>
                    <p class="card-text"><%= product.description %></p>
                    <a href="/product/<%= product.id %>" class="btn btn-primary">Detail</a>
                    <a href="/edit-product/<%= product.id %>" class="btn btn-success">Edit</a>
                    <a href="/remove-product/<%= product.id %>" class="btn btn-danger">Remove</a>
                </div>
            </div>
            <% } %>
        </div>
    </body>
</html>

