<%- include('includes/header') %>
    <body>
        <%- include('includes/navbar') -%>
        <div class="detail text-center container mb-4">
            <h1 class="mb-4 mt-4"><%= product.title %></h1>
            <img class="mb-4" src="<%= product.image %>" alt="Card image cap" width="300">
            <p class="mb-4">$<%= product.price %></p>
            <p><%= product.description %></p>
        </div>
    </body>
</html>
