<%- include('includes/header') -%>
    <body>
        <%- include('includes/navbar') -%>
        <div class="container">
            <div class="add-product">
                <form action="<% if (isEdit) { %> /edit-product <% } else { %>/post-product <% } %>" method="POST">
                    <h1>
                      <% if (isEdit) {%>
                        Edit Product
                      <% } else {%>
                        Add Product
                      <% }%>
                    </h1>
                    <div class="form-group mb-3">
                      <label for="name">Name</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Name" value="<%= isEdit ? product.title : '' %>">
                    </div>
                    <div class="form-group mb-3">
                      <label for="price">Price</label>
                      <input type="text" class="form-control" id="price" name="price" placeholder="Price" value="<%= isEdit ? product.price : '' %>">
                    </div>
                    <div class="form-group mb-3">
                      <label for="price">Image</label>
                      <input type="text" class="form-control" id="image" name="image" placeholder="Image" value="<%= isEdit ? product.image : '' %>">
                    </div>                    
                    <div class="form-group mb-3">
                        <label for="description">Description</label>
                        <textarea class="form-control" name="description" id="description"><%= isEdit ? product.description : '' %></textarea>
                    </div>
                    <input type="hidden" name="idProduct" value="<%= isEdit ? product._id : '' %>"/>
                    <button type="submit" class="btn btn-primary">
                      <% if (isEdit) {%>
                        Edit Product
                      <% } else {%>
                        Add Product
                      <% }%>
                    </button>
                </form>
            </div>
        </div>
    </body>
</html>